* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  background-color: #f5f5f5;
}

body {
  min-height: 100vh;
  padding: 25px;
  font-family: "Nunito Sans", sans-serif;

  background-color: #f5f5f5;

  background-color: #f5f5f5;
  opacity: 1;
  background: radial-gradient(
      circle,
      transparent 20%,
      #f5f5f5 20%,
      #f5f5f5 80%,
      transparent 80%,
      transparent
    ),
    radial-gradient(
        circle,
        transparent 20%,
        #f5f5f5 20%,
        #f5f5f5 80%,
        transparent 80%,
        transparent
      )
      42.5px 42.5px,
    linear-gradient(#2141591f 3.4px, transparent 3.4px) 0 -1.7px,
    linear-gradient(90deg, #2141591f 3.4px, #f5f5f5 3.4px) -1.7px 0;
  background-size: 85px 85px, 85px 85px, 42.5px 42.5px, 42.5px 42.5px;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
}
.icon {
  font-family: "Lora", serif;
  font-size: 4.5rem;
  text-decoration: none;
  color: #214159;
}

.icon__container {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.icon__sub {
  font-family: "Lora", serif;
  font-size: 2rem;

  color: #214159;
}

.nav,
.nav--register {
  font-size: 2.5rem;
  text-decoration: none;
  color: #214159;
}

.nav--small {
  font-size: 2rem;
  text-decoration: none;
  color: black;
}

.nav--register {
  margin-top: 20px;
  font-size: 1.8rem;
  text-align: center;
}

.nav:hover,
.nav--register:hover,
.nav--small:hover {
  text-decoration: underline;
}

.nav__container {
  display: flex;
  gap: 25px;
}

.card__container {
  display: flex;
  align-items: center;
  gap: 50px;
  flex-direction: column;
}

form {
  max-width: 450px;
  display: flex;
  flex-direction: column;
  padding: 15px;
  border-radius: 10px;
  margin: 0 auto;
  border: 3px solid #214159;
  box-shadow: 5px 10px 15px #b4b4b4;
  background-color: #f5f5f5;
}

.form__title {
  font-size: 2.5rem;
  font-family: "Lora", serif;
  text-align: center;
}

.input__container {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.input__title {
  font-size: 1.8rem;
  margin-bottom: 5px;
}

.input {
  height: 35px;
  border: 1px;
  border-radius: 3px;
  font-family: "Nunito Sans", sans-serif;
  font-size: 1.6rem;
  border: 2px solid #214159;
}

input:focus {
  outline: none;
}

.button--submit {
  margin: 0 auto;
  margin-top: 15px;
  height: 35px;
  width: 40%;
  border: none;
  border-radius: 3px;
  font-family: "Nunito Sans", sans-serif;
  font-size: 2rem;
  background-color: #214159;
  color: white;
}

.button--task {
  margin: 0 auto;
  margin-top: 10px;
  height: 35px;
  width: 40%;
  border: 2px solid black;
  border-radius: 3px;
  font-family: "Nunito Sans", sans-serif;
  font-size: 2rem;
  background-color: transparent;
  color: white;
}

.card__content {
  margin: 0 auto;
  width: 95%;
  display: flex;
  flex-wrap: wrap;
  padding: 15px 10px;
background-color: rgba(255, 255, 255, 0.7);
  border-radius: 10px;
  margin-bottom: 25px;
}

.image__container {
  max-width: 48%;
  aspect-ratio: 3 / 5;
  border-radius: 10px;

  display: grid;
}

.image {
  width: 100%;
  border-radius: 10px;
}

.content__title {
  font-size: 2.2rem;
  width: 100%;
  text-align: center;
  margin-bottom: 10px;
}

.content__description,
.content__address {
  font-size: 1.8rem;
  margin-bottom: 15px;
  width: 100%;
}

.content__address {
  margin-bottom: 0px;
}

.message--error {
  margin-top: 10px;
  font-size: 2rem;
  text-align: center;
  color: red;
}

/* ------------------------------------------ */

.tasks__container {
  display: flex;
  flex-wrap: wrap;
}

.tasks--IU,
.tasks--INU,
.tasks--NIU,
.tasks--NINU {
  width: 25%;
  height: 80vh;
  display: flex;
  padding: 15px;
  flex-direction: column;
  overflow: auto;
}
.tasks__priority {
  font-size: 3rem;
  width: 100%;
  text-align: center;
  margin-bottom: 10px;
}
.tasks__category {
  font-size: 2.5rem;
  width: 100%;
  text-align: center;
  margin-bottom: 25px;
}
.tasks--IU {
  background-color: #6096d8ab;
}

.tasks--INU {
  background-color: #47b091ab;
}

.tasks--NIU {
  background-color: #e9ab47ab;
}
.tasks--NINU {
  background-color: #de7275ab;
}

/* ------------------------------------------ */

.timer__container {
  max-width: 500px;
  display: flex;
  flex-direction: column;
  padding: 15px;
  border-radius: 10px;
  margin: 0 auto;
  border: 3px solid #214159;
  box-shadow: 5px 10px 15px #b4b4b4;
  background-color: #f5f5f5;
}

.timer__welcome {
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 15px;
}

.task__title {
  font-size: 1.8rem;
  margin-bottom: 15px;
  text-align: center;
}

.timer__estimated {
  font-size: 1.8rem;
  margin-top: 25px;
  margin-bottom: 15px;
  text-align: center;
}

.timer__estimated__minutes {
  font-size: 2.2rem;
  text-align: center;
}

.time {
  font-size: 2.5rem;
  text-align: center;
}

.timer {
  display: flex;

  align-items: center;
}

/* ------------------------------------- */

.leaderboard__title{
  font-size: 3rem;
  font-family: "Lora", serif;
  text-align: center;
  margin-bottom: 50px;
}

.leaderboard {
  margin: 0 auto;
  max-width: 1024px;
  font-size: 2rem;
  border-collapse: collapse;
  text-align: left;
  background-color: #f5f5f5;
  
}

th, tr, td {
  border: 2px solid rgb(0, 0, 0);
  border-collapse: collapse;
  padding: 25px;
}

/* ---------------- */
.home__container{
  display: flex;
  flex-wrap: wrap;
  max-width: 1024px;
  margin: 0 auto;
  margin-top: 50px;
}

.home__divider{
  width: 6%;
}

.home__title{
  font-size: 4rem;
  font-family: "Lora", serif;

}
.home__about{
  font-size: 2rem;
  text-align: justify;
}

.home__content__container{
  width: 47%;
 
}
.home__image__container{
  /* background-color: #f5f5f5; */
  width: 47%;
  margin-bottom: 25px;
}
.home__image{
  width: 100%;
}


.signup__container{
    width: 100%;
    display: flex;
    justify-content: center;
    text-decoration: none;
}

.button--signup{
  margin: 0 auto;
  margin-top: 15px;
  height: 50px;
  width: 30%;
  border: none;
  border-radius: 10px;
  font-family: "Nunito Sans", sans-serif;
  font-size: 2rem;
  background-color: #f14d00;
  color: white;
  
}

.buttons__container{
  display: flex;
  justify-content: space-between;
  width: 100%;
}

#saveProgress, #closeTask{
  width: 48%;
}
#button--double{
  width: 100%;
  background-color: #f5f5f5 !important;
  border: 2px solid #214159;
  color: #214159;
}